#mxContainer {
  overflow: auto;
  margin: 32px;
  border: 1px solid black;
}

.AppHeader {
  text-align: center;
}

.control {
  border: none;
  text-decoration: none;
  color: blue;
  font-size: 32px;
  background-color: transparent;
  text-align: center;
  padding: 4px;
}

.control:hover {
  color: red;
}

.control:disabled {
  color: gray;
}